<ion-header>
  <ion-toolbar>
    <ion-title>
      Monthly Expenses
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>ion-item in a card, icon left, button right</ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>

    <ion-card-content>
      This is content, without any paragraph or header tags, within an
      ion-card-content element.
    </ion-card-content>
  </ion-card>

  <ion-list>
    <div *ngFor="let item of list">
      <ion-item>
        <ion-label>
          <h2>{{item.name}}</h2>
          <small>{{item.date}}</small>
        </ion-label>
        <ion-label item-right text-right>{{ item.price }} EUR</ion-label>
      </ion-item>
    </div>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addExpenseModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
